@import "./getBootstrap.scss";

@import "./abstracts/variable", "./abstracts/helper";

@import "./components/scrollBar";

body {
  background: $offWhite;
}
main {
  .wrapper {
    .content {
      min-height: 90vh;
      width: calc(100% - $sidebar-width);
      max-width: 2500px;
      margin-left: 76px;
      transition: 0.3s;
      .page-content {
        padding: 60px 0 30px;
        min-height: calc(100vh + 1190px);
      }
    }
    &.active .content {
      width: calc(100% - $sidebar-width-collapse);
      max-width: 2500px;
    }
  }
}
