@import "./getBootstrap.scss";

@import "./abstracts/variable", "./abstracts/helper";

@import "./components/scrollBar";
@import "./base/typography";

body {
  background: $offWhite;
}
main {
  .wrapper {
    .content {
      min-height: 90vh;
      @media only screen and (min-width: 768px) {
        width: calc(100% - $sidebar-width-collapse);
        max-width: 2500px;
        margin-left: 76px;
      }
      transition: 0.3s;
      .page-content {
        overflow: hidden;
        padding: 70px 15px 40px;
        min-height: calc(100vh + 41px);
      }
    }
  }
}
