@import "../abstracts/variable";

footer {
  // position: fixed;
  // bottom: 0;
  // left: 0;
  background-color: $offWhite;
}

.wrapper {
  footer {
    width: 100%;
    // max-width: 2500px;
    // margin-left: $sidebar-width-collapse;
    transition: 0.3s;
  }
}
