@import "../abstracts/variable";

footer {
  position: fixed;
  bottom: 0;
  left: 10px;
}

.wrapper {
  footer {
    width: calc(100% - $sidebar-width);
    max-width: 2500px;
    margin-left: $sidebar-width-collapse;
    transition: 0.3s;
  }

  &.active {
    footer {
      width: calc(100% - $sidebar-width-collapse);
      max-width: 2500px;
    }
  }
}
