@import "../abstracts/variable";

header {
  position: fixed;
  top: 0;
  left: 0;
  background: $white;
}

.wrapper {
  header {
    width: calc(100% - $sidebar-width-collapse);
    max-width: 2500px;
    margin-left: $sidebar-width-collapse;
    transition: 0.3s;
  }
}
