@import "../abstracts/variable";

header {
  position: fixed;
  top: 0;
  left: 0;
  background: $white;
  z-index: 999;
}

.wrapper {
  header {
    @media only screen and (min-width: 768px) {
      width: calc(100% - $sidebar-width-collapse);
      max-width: 2500px;
      margin-left: $sidebar-width-collapse;
    }
    width: 100%;
    transition: 0.3s;
  }
}
