@import "../abstracts/variable";

.invoiceDesign {
  width: 100%;
  // min-height: calc(100vh - 100px);
  max-height: 1015px;
  max-width: calc(800px + 2px);
  background: $dark;
  border: 1px solid $dark;
  overflow: auto;
  .invoice-wrapper {
    min-width: 800px;
    overflow: overlay;
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background: #fff;
    font-family: Arial, sans-serif;
    color: $dark;
    p {
      margin: 0;
    }
  }

  .invoice-header,
  .invoice-info,
  .invoice-table,
  .invoice-summary,
  .invoice-terms,
  .invoice-footer {
    margin-bottom: 20px;
  }

  .invoice-summary{
    .right-summary p{
      display: flex;
      justify-content: space-between;

    }
  }

  .invoice-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .invoice-title h1 {
    font-size: 32px;
    font-weight: bold;
  }

  .invoice-info {
    display: flex;
    justify-content: space-between;
  }

  .invoice-table table {
    width: 100%;
    border-collapse: collapse;
  }

  .invoice-table th,
  .invoice-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }

  .invoice-summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .total {
    color: #fff;
    padding: 10px;
  }

  .invoice-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .invoice-heading1 {
    font-size: 24px;
    font-weight: bold;
  }
  .invoice-heading2 {
    font-size: 22px;
    font-weight: bold;
  }
  .invoice-heading3 {
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
  }
  .invoice-heading4 {
    font-size: 18px;
    font-weight: bold;
  }

  .contact-info p,
  .signature p {
    margin: 2px 0;
  }
}
