@import "./mixins";

.shadow {
  box-shadow: 0px 0 20px 10px rgba(0, 0, 0, 0.1) !important;
}

.form-label{
  white-space: nowrap;
  font-size: .9rem;
  font-weight: 500;
}

.flex-center {
  @extend %flex-center;
}

.content-none {
  @extend %content-none;
}

.text-truncate-2 {
  @extend %text-truncate-2;
}
