$primary: #2e5283;
$success: #28a745;
$transparent: transparent;
$septenary: #ffb703;
$danger: #dc3545;
$white: #ffffff;
$offWhite: #f8f9fa;
$dullWhite: #e2e6ea;
$dark: #343a40;
$muted: #6c757d;

$secondary: lighten($primary, 10%);
$tertiary: darken($primary, 10%);
$quaternary: lighten($primary, 20%);
$quinary: lighten($primary, 40%);
$senary: lighten($primary, 60%);

$sidebar-width: 210px;
$sidebar-width-collapse: 76px;
$font-size-base: 1rem;
$border-radius: 0.25rem;
$box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.1) !important;
